.roupas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (min-width: 0) {
    .roupas {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .roupas {
        padding: 5rem 0 0 2.5remrem;
    }
    
}

@media screen and (min-width: 992px) {
    .roupas {
        padding: 5rem 0 0 5;
    }
    
}